<!DOCTYPE html>
<!-- Esta será la plantilla base de todas nuestras 
páginas del sitio, esto nos ayuda mucho a reutilizar 
código html 
Esto se llama herencia de páginas-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Equipo de fútbol</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <!-- Las 2 líneas anteriores indican que dentro de
    ese bloque las plantillas hijas pueden colocar 
    cualquier contenido-->
</body>